h2= @question.title
- if current_user && @question.user_id == current_user.id
  small= link_to 'Delete question', @question, data: { method: :delete }

h4= "Author: #{@question.user.email}"
p= @question.body

h4 Answers
= render partial: 'answers/answer', collection: @question.answers, as: :answer

- if current_user
  = render 'answers/form'
- else
  | Sign in or sign up to leave answers
